h1 {
  color: #27909f;
}
h3 {
  color: red;
  font-size:24px;
}

@media screen and (min-height: 768px) and (max-width: 1024px) {
  #main-container {
    font-size: 75%;
  }
  img {
    width: 75%;
    height: 75%;
  }
}

@media screen and (min-height: 320px) and (max-width: 420px) {
  #main-container {
    font-size: 60%;
  }	/*ends main container*/
  img {
    width: 60%;
    height: 60%;
  }	/*ends img*/
}	/*ends media query*/
