h1 {
  color: #27909f;
}
h3 {
  color: red;
  font-size:24px;
}

@media screen and (min-height: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 120%;
  }
  h3 {
    font-size: 120%;
  }
  img {
    width: 75%;
    height: 75%;
  }
}

@media screen and (min-height: 320px) and (max-width: 420px) {
  h1 {
    font-size: 150%;
  }	/*ends main container*/
  h3 {
    font-size: 150%;
  }
  img {
    width: 50%;
    height: 50%;
  }	/*ends img*/
}	/*ends media query*/
