@import url('https://fonts.googleapis.com/css?family=Nosifer');
h2 {
  color: #8b048a;
}
h4 {
  color: #8b048a;
}
p {
  color: #8b048a;
}
ul {
  color: #8b048a;
}
ol {
  color: #8b048a;
}
hr {
  color: #8b048a;
}
_drop (
  color: #8b048a;
  font-family: nosifer;
}
/*
You could do this much easier like:
_name {
  color: #8b048;
}
<div id="name">
</div>
*/
