h3 {                          /*welcome to our first CSS declaration block*/
  color: red; font-size:24px;
  }
                              /*ids will overwite a class. class will overwrite an element's styling*/
#cat {                        /*hashtag for ids*/
  color: purple;
}
#dog {
  color: #f7dd1f;
}
#lIZARD {
  color: pink;
  font-size: 47px;            /*my father always used to say, "96 pixels in an inch"*/
  font-weight: 1;
}

.fish {                       /*use a period for class*/
  color: rgb(25,200,75);
  font-size: 1em;
  font-family: "comic sans", calibri;   /*first fonts are tried first, the rest are fallbacks*/
}
